<h1>Users!!!!!</h1>

<p>{{sentence}}</p>

<form>
  <input id='username' type="text" name="username" placeholder="Username"/>
  <input id='password' type="password" name="password" placeholder="Password"/>
  <button id="submitBtn">Submit</button>
</form>

<ul class="userList">
  {{#each users}}
    <li>
      <a href="/users/{{id}}">{{username}}</a>
      {{#if over9000}}
        <p>It's over 9000!</p>
      {{else}}
        <p>{{password}}</p>
      {{/if}}
    </li>
  {{/each}}
</ul>

